/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
  .certificate {
    width: 100%;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerWithSidebar {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
}

.mainContent {
  flex: 2;
  padding: 20px;
}

.certsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.certificate {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.certificate img {
  max-width: 100%;
  height: auto;
}
